<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div>
            <img src="../../../assets/img/WOMENS-MANS.png" alt="" style="width: 100%;height: 100%;">
        </div>
        
        
    
        <div id="divCategorias">
            <table>
                <tr>
                    <th>
                        <img src="../../../assets/img/jersey_blanco.png" alt="" id="divImg">
                        <p id="pCategorias">Jerseys</p>
                    </th>
                    <th>
                        <p id="pCategorias">Calcetas</p>
                        <img src="../../../assets/img/calcetas_negras.png" alt="" id="divImg">
                    </th>
                    <th>
                        <img src="../../../assets/img/pantalon_azulMarino.png" alt="" id="divImg">
                        <p id="pCategorias">Pantalones</p>
                    </th>
        
                </tr>
            </table>
        </div>

        <div class="fondo-contenedor"></div>

        <div><br><br><br>
            <img src="../../../assets/img/prueba1.png" alt="" style="width: 100%;height: 100%;">
        </div>

        <div> <br><br><br>
            <img src="../../../assets/img/prueba2.png" alt="" style="width: 100%;height: 100%;">
        </div>




    
    
    
</body>
</html>